body {
  margin: 0;
  font: normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
  filter:drop-shadow(0px 0px 4.2px rgb(255, 247, 0)) drop-shadow(1px 1px 4.2px rgb(255, 153, 0));
}

.tsparticles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(64, 1, 81, 0.847);
  backdrop-filter: blur(4px);
  z-index: 0;
}

.github {
  bottom: 10px;
  right: 10px;
  position: fixed;
  border-radius: 10px;
  background: #fff;
  padding: 0 12px 6px 12px;
  border: 1px solid #000;
}

.github a {
  color: #000;
  text-decoration: none;
}

.github img {
  height: 30px;
}

#gh-project {
  font-size: 20px;
  padding-left: 5px;
  font-weight: bold;
  vertical-align: bottom;
}
